colorzero==2.0
gpiozero==2.0.1; platform_system == "Linux"
lgpio==0.2.2.0; platform_system == "Linux"
numpy==2.2.6
opencv-python==4.12.0.88
pillow==12.0.0
tk==0.1.0

# Spinnaker for Raspberry Pi (Linux ARM64)
spinnaker-python @ file:spinnaker/spinnaker_python-4.2.0.88-cp310-cp310-linux_aarch64.whl; platform_system == "Linux" and platform_machine == "aarch64"

# Spinnaker for Windows 64-bit
spinnaker-python @ file:spinnaker/spinnaker_python-4.2.0.88-cp310-cp310-win_amd64.whl; platform_system == "Windows" and platform_machine == "AMD64"


